<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Contact Form</h1>

<form action="notice" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required><br><br>
  
  <label for="number">Number:</label>
  <input type="tel" id="number" name="number" required><br><br>
  
  <label for="content">Content:</label><br>
  <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
  
  <input type="submit" value="Submit">
</form>
</body>
</html>