<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>odometer</title>
</head>
<body>
<h1>odometer</h1>
	
	
<span>
    <form method="get" action="OdometerServlet">
        <input type="hidden" name="button" value="prev">
        <button type="submit">prev</button>
    </form>
</span>

<span>
    <form method="get" action="OdometerServlet">
        <input type="hidden" name="button" value="next">
        <button type="submit">next</button>
    </form>
</span>
<p><span th:text="${reading}">This is gonna get replaced</span></p>
</body>
</html>